<app-header-customer></app-header-customer>
<br>
<br>
<br>
<br>
<input [(ngModel)]="searchText" type="search" class="form-control" placeholder="search" style=" margin-left: 2%; margin-top: 15px; width: 40%; padding: 2px 20px;  height: 30px;">
<br>
<div class="container-fluid"><br><br>
  <!-- Customer list table -->
  <table class="table table-hover " >
    <thead>
    <tr><h4>Customers List</h4><br></tr>
      <tr class="table-secondary">
        <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers | FilterPipe:searchText">
        <td>{{ customer.id }}</td>
        <td>{{ customer.firstname }}</td>
        <td>{{ customer.lastname }}</td>
        <td>{{ customer.email }}</td>
        <td>
          <div class="row" >
            <div class="col-sm-3">
              <button class="btn btn-outline-success" [routerLink]="['/customer', customer.id]">See</button>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-warning" style="margin-right: 10px;" [routerLink]="['/edit-customer', customer.id]">Edit</button>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Del</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
   <tfoot>

   </tfoot>
  </table>

</div>

<!-- Start - Section FOOTER - PIED DE PAGE - OK -->
<section class="supfooter">
  <footer class="footer">

    <!-- Start - COPYRIGHT - OK -->
    <div class="copyright text-center">
      &copy;<p>2023<span> Oken Cars. </span>All rights reserved.</p>
    </div>
    <!-- End - COPYRIGHT - OK -->

  </footer>
</section>
<!-- End - Section FOOTER - PIED DE PAGE - OK -->