
<div class="row">
  <div class="col-md-7">
    <img src=" https://img.freepik.com/premium-photo/young-african-american-woman-glasses-stands-car-salon-near-vehicle-with-keys-hands_146671-27413.jpg?w=826 " alt="owner login main picture">
  </div>
  <div class="col-md-5">
    <img class="logo" src="assets/pictures/OC_logo.jpg" alt="oken-cars logo">
    <br>
    <!-- Owner sign and register table -->
    <!-- Add <th> headers to this <table> -->
    <table>
      <tr>
        <td><a routerLink="/sign-in-owner"><strong><i>SIGN IN</i></strong></a></td>
        <td><a routerLink="/register-owner"><strong><i>SIGN UP</i></strong></a></td>
      </tr>
    </table>


    <div class="container">
    <form>
      <input class="form-control" type="text" placeholder="Email Address"  required>
      <br>
      <input class="form-control" type="password" placeholder="Password"  required>
      <br>
      <p><a>Password forget ?</a></p>

      <button type="button" class="btn btn-secondary">LOGIN</button>
    </form>
    </div>

  </div>
</div>


