table{
    width : 70%;
   margin: auto;
}
h4{
    margin-left: 10%;
}
.eye-icon{
    max-width: 100%;
     width: 100%;
     height: auto;
     border: none; /* Annule les styles de bordure de Bootstrap */
     background-color: transparent; /* Annule les styles de fond de Bootstrap */
     padding: 0; /* Annule les styles de padding de Bootstrap */
}
button{
   z-index: 1;
}

