<app-header-driver></app-header-driver>
<br><br><br><br><br>

<div class="container">
    <br>
  <img src="assets/pictures/profil.png" alt="Profil du driver">
  <br><hr>
    <div class="card-container" *ngIf="driver$ | async as driver">

          <p><strong>FIRSTNAME :  </strong> {{driver.firstname}}</p>
          <p><strong>LASTNAME :  </strong>{{driver.lastname}}</p>
          <p><strong>PHONE :  </strong>{{driver.phone}}</p>
          <p><strong>EMAIL :  </strong>{{driver.email}}</p>
          <p><strong>ADDRESS :  </strong>{{driver.address}}</p>
          <p><strong>PERMIT :  </strong>{{driver.permit}}</p>

    </div>
</div>

<br>

<!-- Start - Section FOOTER - PIED DE PAGE - OK -->
<section class="supfooter">
  <footer class="footer">

    <!-- Start - COPYRIGHT - OK -->
    <div class="copyright text-center">
      &copy;<p>2023<span> Oken Cars. </span>All rights reserved.</p>
    </div>
    <!-- End - COPYRIGHT - OK -->

  </footer>
</section>
<!-- End - Section FOOTER - PIED DE PAGE - OK -->
