.card-body{

}
.card{
  width: 60%;
     margin-right: 20%;
         margin-left: 20%;
      border: 1px solid #1d7177;
              border-radius: 10px 10px 10px 10px;
}
small{
  margin: auto;
  color: rgb(117,142,255);
}

button{
  width: 30%;
  margin-left:35%;
  margin-right:35%;
}

