<img class="welcome" src="https://img.freepik.com/free-photo/handsome-elegant-black-man-car-salon_1157-33208.jpg?w=740&t=st=1692616146~exp=1692616746~hmac=c85809764958c9a1cb187cfbbd008145e3980827db962725f2fe0e805a5176f9" alt="home main picture">

<div class="container" style=" ">
  <br><br>
    <img class="logo" src="assets/pictures/logo.png" alt="oken-cars logo">
  <br><br>
  <h4>Welcome to Oken Cars !!!</h4>
  <br>
  <a class="nav-link active" [routerLink]="['/sign-in-driver']" ><i>DRIVER</i></a>
  <a class="nav-link active" [routerLink]="['/sign-in-manager']" ><i>MANAGER</i></a>
  <a class="nav-link active" [routerLink]="['/sign-in-owner']"><i>OWNER</i></a>
  <a class="nav-link active" [routerLink]="['/sign-in-customer']"><i>CUSTOMER</i></a>

  <br><br><br><br>
</div>



