
<div class="row">
    <div class="col-md-7">
      <img src=" https://img.freepik.com/free-photo/handsome-elegant-man-car-salon_1157-30200.jpg?w=826&t=st=1695986204~exp=1695986804~hmac=ee8bb96ec3f5dae0d1a47948cc5b9efc8bc807316162371379633d3b8f23046f " alt="Manager login header picture">
    </div>
    <div class="col-md-5">
      <img class="logo" src="assets/pictures/OC_logo.jpg" alt="oken-cars logo">
      <br>
      <!-- Manager login table -->
      <!-- Add <th> headers to this <table> -->
      <table>
        <tr>
          <td><a routerLink="/sign-in-manager"><strong><i>SIGN IN</i></strong></a></td>
          <td><a routerLink="/sign-up"><strong><i>SIGN UP</i></strong></a></td>
        </tr>
      </table>


      <div class="container">
      <form>
        <input class="form-control" type="text" placeholder="Email Address"  required>
        <br>
        <input class="form-control" type="password" placeholder="Password"  required>
        <br>
        <p><a>Password forget ?</a></p>

        <button type="button" class="btn btn-primary">LOGIN</button>
        <br>

      </form>

      </div>

    </div>
</div>



<!--<br><br>
  <div class="login-container">
     <h3 style="  text-align: center;">Login</h3>
      <br>
    <img src="assets/pictures/profil.png" alt="Profil du manager">
      <br><br><br>
    <input class="form-control" type="text" placeholder="Email Address"  required>
    <br>
    <input class="form-control" type="password" placeholder="Password"  required>
    <br><br>
    <button type="button" class="btn btn-primary">LOGIN</button>
    <br>   <br>
    <p><a routerLink="/sign-up">No account? Sign up.</a></p>
    <br>

  </div>-->


