<p>login-customer works!</p>

<div class="row">
    <div class="col-md-7">
      <img src="https://img.freepik.com/free-photo/african-american-partners-travelling-by-vehicle-putting-luggage-baggage-trunk-leave-summer-holiday-people-relationship-going-vacation-trip-with-trolley-travel-bags_482257-48331.jpg?w=740&t=st=1696579816~exp=1696580416~hmac=23e8273282db530b2c81e93c61ca1af4450541ec2e8bb2b36fb578cc9e527fd1" alt="Customer header picture">
    </div>
    <div class="col-md-5">
      <img class="logo" src="assets/pictures/OC_logo.jpg" alt="oken-cars logo">
      <br>
      <!-- Customer sign ang register table -->
      <!-- Add <th> headers to this <table> -->
      <table>
        <tr>
          <td><a routerLink="/sign-in-customer"><strong><i>SIGN IN</i></strong></a></td>
          <td><a routerLink="/register-customer"><strong><i>SIGN UP</i></strong></a></td>
        </tr>
      </table>
  
  
      <div class="container">
      <form>
        <input class="form-control" type="text" placeholder="Email Address"  required>
        <br>
        <input class="form-control" type="password" placeholder="Password"  required>
        <br>
        <p><a>Password forget ?</a></p>
  
        <button type="button" class="btn btn-secondary">LOGIN</button>
      </form>
      </div>
  
    </div>
  </div>

