
<div class="row">
  <div class="col-md-7">
    <img src=" https://img.freepik.com/premium-photo/africanamerican-man-driving-car-human-emotions_666637-478.jpg?w=826 " alt="driver login page picture">
  </div>
  <div class="col-md-5">
    <img class="logo" src="assets/pictures/OC_logo.jpg" alt="Logo de votre site">
    <br>
    <!-- Driver sign and register table -->
    <!-- Add <th>  headers to this <table> -->
    <table>
      <tr>
        <td><a routerLink="/sign-in-driver"><strong><i>SIGN IN</i></strong></a></td>
        <td><a routerLink="/register-driver"><strong><i>SIGN UP</i></strong></a></td>
      </tr>
    </table>


    <div class="container">
    <form>
      <input class="form-control" type="text" placeholder="Email Address"  required>
      <br>
      <input class="form-control" type="password" placeholder="Password"  required>
      <br>
      <p><a>Password forget ?</a></p>

      <button type="button" class="btn btn-warning">LOGIN</button>
    </form>
    </div>

  </div>
</div>


