<div class="toolbar" role="banner">

      <div class="logo">
        <a routerLink=""><img src="assets/pictures/logo.png" alt="oken-cars logo"></a>
      </div>

      <div class="navbar-nav-scroll" style="margin-left: 50%; /*border: 1px solid white;*/">
        <!-- Manager header table -->
        <!-- Add <th> headers to this <table> -->
        <table>
          <tr>
            <td><a class="nav-link active" routerLink="/manager-list"><br><img class="manager" src="https://icon-library.com/images/management-icon-png/management-icon-png-21.jpg" alt="Manager header manager-icon"><p>Managers </p></a></td>
            <td><a class="nav-link active" routerLink="/driver-list"><br><img class="driver" src="https://www.freeiconspng.com/thumbs/driver-icon/driver-icon-10.png" alt="Manager header driver-icon"> <br> <p>Drivers</p> </a></td>
            <td><a class="nav-link active" routerLink="/owner-list"><br><img class="owner" src="https://cdn-icons-png.flaticon.com/512/0/387.png" alt="Manager header owner-icon"> <br> <p>Owners</p></a></td>
            <td><a class="nav-link active" routerLink="/car-list"><br><img class="car" src="https://static.vecteezy.com/system/resources/thumbnails/001/193/767/small/compact-car.png" alt="Manager header car-icon"><br> <p>Cars</p></a></td>
            <td><a class="nav-link active" routerLink="/customer-list"><br><img class="customer" src="assets/pictures/customer_icon.png" alt="Manager header customer-icon"><br> <p>Customers</p></a></td>
          </tr>
        </table>
      </div>

</div>

