
<div class="container-fluid" style="margin-top: 30px;">
    <div class="card" >
          <div class="card-header">
            <strong>MANAGER REGISTRATION</strong>
          </div>
          <form (ngSubmit)="addManager()" #editFormManager="ngForm">
            <br><br>
            <div class="row">
              <div class="col-md-4"><label> Name <span class="required">*</span></label></div>
              <div class="col-md-7">
                  <input class="form-control" type="text" placeholder="{{ manager.lastname }}" [(ngModel)]="manager.lastname" name="lastname" (change)="validateLastName()" required>
                  <div *ngIf="!validateLastName()" class="text-danger" style="font-size: 11px;"><i>Please check the validity of your Last Name.</i></div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4"><label>First Name <span class="required">*</span></label></div>
              <div class="col-md-7">
                  <input class="form-control" type="text" placeholder="{{ manager.firstname }}" [(ngModel)]="manager.firstname" name="firstname" (change)="validateFirstName()" required>
                  <div *ngIf="!validateFirstName()" class="text-danger" style="font-size: 11px;"><i>Please check the validity of your first name.</i></div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4"><label>Email Address <span class="required">*</span></label></div>
              <div class="col-md-7">
                  <input class="form-control" type="email" placeholder="{{ manager.email }}" [(ngModel)]="manager.email" name="email" (change)="validateEmailAdress()" required>
                  <div *ngIf="!validateEmailAdress()" class="text-danger" style="font-size: 11px;"><i>Invalid email address.</i></div>
              </div>
            </div>

            <br>
            <div class="row">
              <small>
                Veuillez saisir votre numéro de téléphone au format international, par exemple : +241 0924323145.
              </small>
              <div class="col-md-4"><label>Phone number <span class="required">*</span></label></div>
              <div class="col-md-7">
                  <input class="form-control" type="text" placeholder="{{ manager.phone }}" [(ngModel)]="manager.phone" name="phone" (change)="validatePhone()" required>
                  <div *ngIf="!validatePhone()" class="text-danger" style="font-size: 11px;"><i>Invalid phone number.</i></div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4"><label>Address <span class="required">*</span></label></div>
              <div class="col-md-7">
                  <input class="form-control" type="text" placeholder="{{ manager.address }}" [(ngModel)]="manager.address" name="address" (change)="validateAddressCharacters()" required>
                  <div *ngIf="!validateAddressCharacters()" class="text-danger" style="font-size: 11px;"><i>Invalid characters in the address. Please use only letters, numbers, spaces, commas, and hyphens.</i></div>
              </div>
            </div>
            <br>

            <div class="row" style="margin:auto;">
              <small>
                <i>Minimum 10 characters, upper and lower case, a special character and a number</i>
              </small>
              <div class="col-md-6"><input class="form-control" placeholder="Password" type="password"  [(ngModel)]="manager.password" name="password" (change)="validatePassword()" required></div>
              <div class="col-md-6"><input class="form-control" placeholder="Confirm Password" type="password"  [(ngModel)]="confirmPassword" name="confirmPassword" (change)="validatePassword()" required></div>
            </div>
            <div class="col-md-5" *ngIf="passwordInvalid" class="text-danger" style="font-size: 11px; margin-left:5%;">Password must be at least 10 characters long, contain uppercase and lowercase letters, a special character, and a digit.</div>
            <div class="col-md-5" *ngIf="!passwordsMatch" class="text-danger" style="font-size: 11px; margin-left:5%;">Passwords do not match.</div>

            <br>
            <br>
            <button type="submit" class="btn btn-outline-info"  [disabled]=" !validateLastName() || !validateFirstName() || !validateEmailAdress() || !validatePhone() || passwordInvalid || !passwordsMatch  || !validateAddressCharacters || !isPasswordValid()"  >New manager</button>
            <br><br><br>
          </form>

    </div>
<br><br><br>

</div>


<!-- Start - Section FOOTER - PIED DE PAGE - OK -->
<section class="supfooter">
  <footer class="footer">

    <!-- Start - COPYRIGHT - OK -->
    <div class="copyright text-center">
      &copy;<p>2023<span> Oken Cars. </span>All rights reserved.</p>
    </div>
    <!-- End - COPYRIGHT - OK -->

  </footer>
</section>
<!-- End - Section FOOTER - PIED DE PAGE - OK -->